<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="page-header">
      <a href="/" class="page-header__logo" title="Go home">
        <img src="/assets/seedling.png" alt="" width="48" />
      </a>

      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/notes">Notes</a>
      </nav>
    </header>
    <main>
      {{content}}
    </main>

    <footer class="page-footer">
      <small>
        Copyright {{site.author}}.
        <a href="https://github.com/aceyoung9/garden">
          GitHub Repo
        </a>
      </small>
    </footer>
  </body>
</html>
